h1, p {
    margin: 0;
}

#pageContainer {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#buttonContainer {
    display: flex;
}

.button {
    width: 100px;
    height: 100px;
    box-shadow: black 2px 2px 10px;
    background-position: center;
    background-size: cover;
}